<main>



    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                    <a href="#" class="btn btn-primary my-2">Main call to action</a>
                    <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container-fluid">
            @php $count = 0; @endphp @foreach ($categories as $category)

            <div class="category-title-text card  p-2"> {{$category->name}}</div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">



                @foreach ($category->products as $product) @php if($count == 4) break; $count++; @endphp

                <div class="col">
                    <div class="card shadow-sm d-flex justify-content-center">
                        <div class="d-flex justify-content-center">
                            <div class="w-75">
                                <a href="{{route('frontend.product.show',$product->slug)}}"> <img class=" img-fluid rounded product_img" src=" {{asset('allfiles/products_image').'/'.$product->image}}" alt="{{$product->slug}}"> </a>

                            </div>
                        </div>

                        <div class="card-body">
                            <p class="card-text"> <a class="text-text text-decoration-none" href="{{route('frontend.product.show',$product->slug)}}"> {{$product->title}}  </a> </p>

                            <p class="card-text h6 mb-3">

                                @if($product->sale_price !== null && $product->sale_price > 0) Price (BDT) :<strike> {{$product->price}}</strike> <br> BDT {{$product->sale_price}} @else Price (BDT) : {{$product->price}} @endif
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="">
                                    <form class="d-inline" data-route="{{route('cart.store')}}" id="add_cart" method="POST">
                                        @csrf

                                        <input type="hidden" name="product_id" value="{{$product->id}}">

                                        <button class="btn btn-sm btn-outline-secondary" type="submit">Add to cart</button>
                                    </form>
                                    <button type="button" class=" btn btn-sm btn-outline-secondary">Buy now</button>

                                </div>

                                {{-- <button type="button" class="d-sm-none btn btn-sm btn-outline-secondary">Buy now</button> --}}

                            </div>
                        </div>
                    </div>
                </div>
                @endforeach






            </div>
            @endforeach
        </div>
    </div>

</main>