@extends('frontend.layouts.master') @section('main')






<div class="container-fluid">
    <div class="row">


        <div class="col-md-8 mb-4 p-0 p-sm-2 pr-md-2"> {{-- This is main division it divided into two section this is 1st section--}}

            <h4 class="d-flex flex-wrap justify-content-between align-items-center rounded mt-3 bg-dark text-white p-3">
                <span class="text-white">Shopping Cart</span>

                <span class="badge badge-secondary badge-pill mr-3">{{count($cart)}}</span>
            </h4>


            <ul class="list-group mb-3">

                @foreach($cart as $product)
                <li class="list-group-item lh-condensed pt-3">

                    <div class="row"> {{-- This is --}} {{--
                        <div class="col-12 ">

                            <div class="row "> --}}

                                <div class="col-3 col-sm-3">
                                    <img class="img-fluid " height="250px " src="https://m.media-amazon.com/images/I/71ryBVQqy5L._AC_AA180_.jpg" alt="" />

                                </div>

                                <div class="col-9 col-sm-6">
                                    {{--
                                    <p class="text-description">Quantity : {{$product['quantity']}}</p> --}}
                                    <div class=" cart-title"> {{$product['title']}}</div>
                                    <strong class="  d-sm-none justify-content-end ">Price : {{$product['price']}}</strong>
                                    <div class=""> In Stock</div>



                                    <div class="mb-2"> Quantity:</div> <input class="form-control w-50 mb-2" type="text" value="{{$product['quantity']}}" />
                                    <button class="btn btn-sm btn-outline-secondary">Delete</button>



                                </div>

                                <div class="col-sm-3">
                                    <strong class=" d-none  d-sm-flex justify-content-end mt-1">Price : ৳ {{$product['price']}}</strong>

                                </div>


                                {{-- </div>

                        </div> --}}







                    </div>




                </li>


                @endforeach



        </div>




        <div class="col-md-4 pl-md-2"> {{-- This is main division it divided into two section, This is 2nd --}}

            <ul class="list-group mt-4 ">
                {{--
                <li class="list-group-item active">

                    Checkout

                </li> --}}
                <li class="list-group-item d-flex justify-content-between bg-light">

                    <div class="text-success">
                        <h5 class="my-0">Promo code</h5>
                        <small>EXAMPLECODE</small>
                    </div>
                    <span class="text-success">-$5</span>

                </li>
                <li class="list-group-item d-flex justify-content-between bg-light">

                    <span class="h5 pt-1">Subtotal:</span>
                    <strong class="h5 font-weight-bold pt-1">৳ {{$count}}</strong>

                </li>
                <li class="list-group-item ">

                    <button class="btn btn-lg btn-block btn-success"> Proceed to checkout </button>

                </li>


            </ul>
            <form class="card p-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Promo code">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Redeem</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>


@endsection